/******* COLOURS *******/
@media (max-width: 319px) {
  /* line 31, ../sass/responsive.scss */
  body {
    display: none;
  }
}
@media only screen and (min-width: 801px) {
  /* line 37, ../sass/responsive.scss */
  #pageContainerMobile {
    display: none;
  }

  /* line 40, ../sass/responsive.scss */
  #panel {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
  /*** MENU ***/
  /* line 51, ../sass/responsive.scss */
  header {
    width: 100%;
    height: 50%;
  }

  /* line 56, ../sass/responsive.scss */
  #panel {
    width: 100%;
    height: 50vh;
    top: 10%;
    position: absolute;
    z-index: 5;
    left: -100%;
    transition: all 300ms;
    transition-timing-function: ease-in-out;
  }

  /* line 67, ../sass/responsive.scss */
  .menu-open {
    left: 0 !important;
    width: 100%;
    height: 90vh;
    top: 10%;
    display: block;
    background: #eee;
    min-height: 600px;
    transition: all 300ms;
    transition-timing-function: ease-in-out;
    z-index: 15;
  }

  /***** FONTS *****/
  @font-face {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  }
  /* line 102, ../sass/responsive.scss */
  h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0px;
  }

  /* line 107, ../sass/responsive.scss */
  h2 {
    font-weight: 200;
  }

  /* line 111, ../sass/responsive.scss */
  body {
    max-width: 100vw;
    max-height: 100vh;
  }

  /* line 116, ../sass/responsive.scss */
  #pageContainer {
    display: none;
  }

  /* line 120, ../sass/responsive.scss */
  #siteContainer {
    display: none !important;
  }

  /* line 124, ../sass/responsive.scss */
  .contentContainer {
    max-width: 100vw;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  /* line 130, ../sass/responsive.scss */
  .subPageContentContainer {
    padding-top: 20%;
    padding-bottom: 5%;
  }

  /* line 135, ../sass/responsive.scss */
  #pageContainerMobile {
    width: 100vw;
    height: 100vh;
  }

  /* line 139, ../sass/responsive.scss */
  #siteContainerMobile {
    width: 100%;
  }

  /* line 144, ../sass/responsive.scss */
  .homepageMobile {
    background-color: #ECF0F1;
  }

  /* line 147, ../sass/responsive.scss */
  .portraitNameContainer {
    height: 51vh;
  }

  /* line 150, ../sass/responsive.scss */
  .portraitContainer img {
    max-width: 100%;
    max-height: 100vh;
  }

  /* line 154, ../sass/responsive.scss */
  .portraitContainer {
    position: absolute;
    right: 0%;
    top: 0;
  }

  /* line 160, ../sass/responsive.scss */
  .nameContainer {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    left: 10%;
  }

  /* line 167, ../sass/responsive.scss */
  .malte {
    left: -10%;
    right: 50%;
  }

  /* line 171, ../sass/responsive.scss */
  .janosch {
    left: -7.5%;
    right: 45%;
  }

  /* line 175, ../sass/responsive.scss */
  .grapentin {
    left: -5%;
    right: 40%;
  }

  /* line 180, ../sass/responsive.scss */
  .menuListContainerMobileOpen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #ECF0F1;
  }

  /* line 189, ../sass/responsive.scss */
  .invisible {
    overflow: hidden;
  }

  /* line 193, ../sass/responsive.scss */
  .menuListContainerMobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49vh;
    background-color: #ECF0F1;
  }

  /* line 202, ../sass/responsive.scss */
  .menuListContainerMobile h1, .headerMobile h1, .menuListContainerMobileOpen h1 {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    line-height: 200%;
    display: table-cell;
    vertical-align: middle;
  }

  /* line 213, ../sass/responsive.scss */
  .table-center {
    display: table;
  }

  /* line 216, ../sass/responsive.scss */
  .menuHomeMobile {
    background-color: #ECF0F1;
    position: absolute;
    width: 100%;
    height: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    z-index: 5;
    bottom: 80%;
  }

  /* line 225, ../sass/responsive.scss */
  .menuHomeMobile img {
    width: 10%;
    position: absolute;
    left: 15%;
    top: 30%;
  }

  /* line 232, ../sass/responsive.scss */
  .menuServicesMobile {
    background-color: #3498DB;
    position: absolute;
    width: 100%;
    height: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    z-index: 4;
    bottom: 60%;
  }

  /* line 241, ../sass/responsive.scss */
  .menuServicesMobile img {
    width: 10%;
    position: absolute;
    left: 15%;
    top: 30%;
  }

  /* line 247, ../sass/responsive.scss */
  .menuWorkMobile {
    background-color: #FEC606;
    position: absolute;
    width: 100%;
    height: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    z-index: 3;
    bottom: 40%;
  }

  /* line 256, ../sass/responsive.scss */
  .menuWorkMobile img {
    width: 10%;
    position: absolute;
    left: 15%;
    top: 30%;
  }

  /* line 262, ../sass/responsive.scss */
  .menuAboutMobile {
    background-color: #FD5B03;
    position: absolute;
    width: 100%;
    height: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    z-index: 2;
    bottom: 20%;
  }

  /* line 271, ../sass/responsive.scss */
  .menuAboutMobile img {
    width: 10%;
    position: absolute;
    left: 15%;
    top: 30%;
  }

  /* line 277, ../sass/responsive.scss */
  .menuContactMobile {
    background-color: #ECF0F1;
    position: absolute;
    width: 100%;
    height: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    z-index: 1;
    bottom: 0%;
  }

  /* line 286, ../sass/responsive.scss */
  .menuContactMobile img {
    width: 10%;
    position: absolute;
    left: 15%;
    top: 30%;
  }

  /* line 292, ../sass/responsive.scss */
  .menuContactMobile h1, .menuHomeMobile h1 {
    color: #333333;
  }

  /* line 296, ../sass/responsive.scss */
  .headerMobile {
    width: 100vw;
    height: 10%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    z-index: 7;
  }

  /* line 303, ../sass/responsive.scss */
  .headerMobile img {
    height: 100%;
    position: absolute;
    right: 2%;
  }

  /* line 308, ../sass/responsive.scss */
  .headerMobile h1 {
    text-align: right;
    padding-right: 5%;
  }

  /* line 313, ../sass/responsive.scss */
  .menu-button-icon {
    position: absolute;
    left: 3%;
    top: 30%;
  }

  /* line 318, ../sass/responsive.scss */
  .hamburger {
    margin: 1% !important;
  }

  /* line 321, ../sass/responsive.scss */
  .hamburger-label {
    padding-left: 123%;
  }

  /* line 325, ../sass/responsive.scss */
  .serviceMobile {
    background-color: #3498DB;
  }

  /* line 328, ../sass/responsive.scss */
  .workMobile {
    background-color: #FEC606;
  }

  /* line 331, ../sass/responsive.scss */
  .work-card {
    line-height: 100px;
  }

  /* line 334, ../sass/responsive.scss */
  .work-card img {
    width: 38%;
  }

  /* line 337, ../sass/responsive.scss */
  .cardImageFull img {
    width: 50%;
    padding: 5%;
  }

  /* line 341, ../sass/responsive.scss */
  .bottomLine {
    height: 10px;
  }

  /* line 344, ../sass/responsive.scss */
  .backButtonMobile {
    position: relative;
  }

  /* line 348, ../sass/responsive.scss */
  .backButtonMobile h2 {
    color: #FFFFFF;
  }

  /* line 351, ../sass/responsive.scss */
  .client-card {
    line-height: 100px;
  }

  /* line 355, ../sass/responsive.scss */
  .client-card img {
    width: 50%;
    vertical-align: middle;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 1%;
  }

  /* line 362, ../sass/responsive.scss */
  .aboutMobile {
    background-color: #FD5B03;
  }

  /* line 365, ../sass/responsive.scss */
  .contactMobile {
    background-color: #ECF0F1;
    height: 100%;
  }

  /* line 369, ../sass/responsive.scss */
  .cardContent-1-1 p {
    text-align: center;
  }

  /* line 372, ../sass/responsive.scss */
  .cardContent a {
    text-decoration: none;
  }

  /* line 375, ../sass/responsive.scss */
  #map {
    height: 100%;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
  }
}
