@media only screen and (min-width: 320px) and (max-width: 750px) {
  /* line 8, ../sass/responsive.scss */
  body {
    width: 100vw;
    height: 100vh;
    background-color: green;
  }

  /* line 14, ../sass/responsive.scss */
  #siteContainer {
    width: 100vw;
    height: 50vh;
  }

  /* line 18, ../sass/responsive.scss */
  .contentContainer {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* line 24, ../sass/responsive.scss */
  .menuListContainer {
    display: none;
  }

  /* line 27, ../sass/responsive.scss */
  .nameContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    right: 38%;
  }

  /* line 35, ../sass/responsive.scss */
  .portraitContainer {
    position: absolute;
    top: 1%;
    left: 40%;
  }

  /* line 41, ../sass/responsive.scss */
  .home {
    display: none;
  }

  /* line 45, ../sass/responsive.scss */
  .concept {
    width: 100vw;
    top: 50%;
  }

  /* line 50, ../sass/responsive.scss */
  .rotate {
    /* Safari */
    -webkit-transform: rotate(0deg);
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  }
}
