/******* COLOURS *******/
/***** SIZES, MARGINS & PADDINGS *****/
/* line 31, ../sass/style.scss */
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/***** FONTS *****/
@font-face {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
/* line 62, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0;
}

/* line 67, ../sass/style.scss */
h2 {
  font-weight: 200;
}

/* line 70, ../sass/style.scss */
html {
  width: 100vw;
}

/* line 74, ../sass/style.scss */
body {
  margin: 0 auto;
  width: 100vw;
}

/* line 79, ../sass/style.scss */
#pageContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: absolute;
}

/* line 87, ../sass/style.scss */
#siteContainer {
  height: 100vh;
  position: absolute;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}

/* line 94, ../sass/style.scss */
#siteContainerAbout {
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

/* line 100, ../sass/style.scss */
.homepage {
  width: 80vw;
  top: 0;
  left: 0;
  background: #f3f3f3;
  z-index: 5;
}

/* line 107, ../sass/style.scss */
.services {
  width: 80vw;
  top: 0;
  left: 5%;
  background: #3498DB;
  z-index: 4;
}

/* line 114, ../sass/style.scss */
.servicesExtra {
  top: 100vh;
  width: 100vw;
  display: none;
  background: #3498DB;
}

/* line 121, ../sass/style.scss */
.work {
  width: 80vw;
  top: 0;
  left: 10%;
  background: #FEC606;
  z-index: 3;
}

/* line 128, ../sass/style.scss */
.aboutme {
  width: 80vw;
  top: 0;
  left: 15%;
  background: #FD5B03;
  z-index: 2;
}

/* line 135, ../sass/style.scss */
.contact {
  width: 80vw;
  top: 0;
  left: 20%;
  background: #ECF0F1;
  z-index: 1;
}

/* line 143, ../sass/style.scss */
.siteLogo {
  width: 5%;
  height: 100%;
  position: absolute;
  right: 0%;
}

/* line 150, ../sass/style.scss */
.siteLogo img {
  width: 100%;
  position: absolute;
  right: 12%;
  top: 1%;
}

/* line 157, ../sass/style.scss */
.contentContainer {
  width: 90%;
  margin-left: 2.5%;
  margin-right: 6%;
}

/* line 163, ../sass/style.scss */
.contentContainerExtra {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
}

/** HEADERS **/
/* line 173, ../sass/style.scss */
.orange {
  background: #FD5B03;
}

/* line 176, ../sass/style.scss */
.blue {
  background: #3498DB;
}

/* line 179, ../sass/style.scss */
.yellow {
  background: #FEC606;
}

/* line 182, ../sass/style.scss */
.black {
  background: #333333;
}

/* line 185, ../sass/style.scss */
.cloud {
  background: #ECF0F1;
}

/* line 188, ../sass/style.scss */
.orange h1, .blue h1, .black h1, .yellow h1 {
  color: #FFFFFF;
  font-weight: 200;
  font-family: 'Work Sans', sans-serif;
  padding: 2%;
}

/** Card Container **/
/* line 200, ../sass/style.scss */
.cardContent p {
  color: #333333;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

/** HOMEPAGE **/
/* line 215, ../sass/style.scss */
.portraitNameContainer {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

/* line 221, ../sass/style.scss */
.portraitContainer {
  position: absolute;
  right: 50px;
  top: 15vh;
}

/* line 227, ../sass/style.scss */
.nameContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 31%;
  right: 105px;
}

/* line 234, ../sass/style.scss */
.nameBox {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
  position: absolute;
  width: auto;
  padding: 0 2% 0 2%;
}

/* line 242, ../sass/style.scss */
.nameBox h1 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 10px;
  width: 100%;
}

/* line 252, ../sass/style.scss */
.malte {
  background: #FD5B03;
  z-index: 2;
  right: 72px;
  top: 100px;
}

/* line 261, ../sass/style.scss */
.janosch {
  background: #FEC606;
  z-index: 1;
  right: 0;
  top: 150px;
}

/* line 268, ../sass/style.scss */
.grapentin {
  background: #3498DB;
  z-index: 2;
  right: -55px;
  top: 200px;
}

/* line 276, ../sass/style.scss */
.menuListContainer {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

/* line 281, ../sass/style.scss */
.menuList {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding-left: 1%;
  top: 15%;
}

/* line 289, ../sass/style.scss */
.menuList h2 {
  font-weight: 400;
  margin-top: 8%;
  margin-bottom: 0;
  padding-left: 5%;
}

/* line 296, ../sass/style.scss */
.menuItem {
  display: -webkit-box;
  margin: 0;
  padding: 20% 0 4% 0;
  cursor: pointer;
}

/* line 303, ../sass/style.scss */
.menuItem img {
  width: 50px;
  height: 50px;
}

/* line 308, ../sass/style.scss */
.listConcept h2 {
  color: #3498DB;
}

/* line 312, ../sass/style.scss */
.listFrontEnd h2 {
  color: #FEC606;
}

/* line 316, ../sass/style.scss */
.listDesign h2 {
  color: #FD5B03;
}

/* line 320, ../sass/style.scss */
.listAbout h2 {
  color: #333333;
}

/* line 324, ../sass/style.scss */
.siteText {
  position: relative;
  margin-top: 120px;
  margin-right: 10px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

/* line 333, ../sass/style.scss */
.blackText {
  color: #333333;
}

/* line 338, ../sass/style.scss */
.whatImg {
  width: 40%;
  margin: 0 auto;
}

/* line 343, ../sass/style.scss */
.whatImg img {
  width: 100%;
}

/* line 347, ../sass/style.scss */
.center h2 {
  text-align: center;
}

/***** WORK // WHAT I DID ****/
/* line 354, ../sass/style.scss */
.backButton {
  width: 12%;
  display: -webkit-inline-box;
  position: absolute;
  right: 3%;
  bottom: 3%;
  background-color: #3498DB;
  margin-top: 1%;
  padding: 5px;
}

/* line 366, ../sass/style.scss */
.backButton:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
}

/* line 370, ../sass/style.scss */
.backButton h2 {
  padding-left: 18%;
  color: #FFFFFF !important;
  font-size: 100%;
}

/* line 375, ../sass/style.scss */
.squalHeader h2 {
  color: #333333;
}

/* line 379, ../sass/style.scss */
.extraPage {
  background-color: #FEC606;
}

/* line 383, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 387, ../sass/style.scss */
.workExtraImgLogo {
  width: 25%;
}

/* line 390, ../sass/style.scss */
.workExtraImgLogo img {
  width: 50%;
}

/* line 394, ../sass/style.scss */
.bottomLine {
  height: 20px;
}

/* line 397, ../sass/style.scss */
.sinnerSchraderHeader {
  background-color: #2e0f82;
}

/* line 400, ../sass/style.scss */
.squalHeader {
  background-color: #f8d832;
}

/* line 403, ../sass/style.scss */
.ejhHeader {
  background-color: #c6da35;
}

/* line 406, ../sass/style.scss */
.gizHeader {
  background-color: #d42b18;
}

/* line 409, ../sass/style.scss */
.stanislausHeader {
  background-color: #c63034;
}

/* line 412, ../sass/style.scss */
.portcenterHeader {
  background-color: #26a6b7;
}

/* line 415, ../sass/style.scss */
.dhHeader {
  background-color: #30a4c2;
}

/* line 418, ../sass/style.scss */
.fheelsHeader {
  background-color: #000;
}

/* line 422, ../sass/style.scss */
.client-card {
  line-height: 150px;
}

/* line 425, ../sass/style.scss */
.client-card img {
  width: 80%;
  vertical-align: middle;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

/***** ABOUT ME // WHO AM I ****/
/* line 434, ../sass/style.scss */
.portrait {
  width: 100%;
  vertical-align: top;
}

/* line 443, ../sass/style.scss */
h2.iconHeader {
  text-align: center;
  color: #FFFFFF;
}

/* line 449, ../sass/style.scss */
.fa-white {
  color: #FFFFFF;
}

/* line 454, ../sass/style.scss */
#map {
  height: 100%;
  width: 100%;
  min-width: 100px;
  min-height: 500px;
}
